header {
    border: 1.5px solid #383838;
    background-color: #9c0000;
    height: 77px;
    width: 98.5%;
    margin: 0 -.5%;
    position: fixed;
    top: 0;
    z-index: 11;
}
  
header a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #D2B48C;
    text-decoration: none;
    padding: 22px;
    display: inline-block;
    overflow: auto;
}
  
header a:active {
    color: rgb(238, 207, 167);
}
  
header a:hover {
    font-weight: 600;
    font-size: 19.5px;
}
  
#home:hover {
    font-size: 19.75px;
}

#add {
    font-size: 17px;
}
  
#username {
    font-size: 15px;
}
  
#username:hover {
    font-size: 14.5px;
}
  
#leftnav {
    max-width: 50%;
    float: left;
    display: flex;
    justify-content: flex-start;
    height: 77px;
}
  
#rightnav {
    max-width: 35%;
    float: right;
    display: flex;
    justify-content: flex-end;
    height: 77px;
}
  
#body {
    margin-top: 82px;
    font-size: 15px;
    color: #383838;
    font-family: 'Roboto';
    margin: 2% 5%;
  }
  
#logout {
    font-size: 11px;
}
  
h1 {
    font-family: 'Montserrat';
    font-size: 32px;
    color:  #383838;
}

.center {
    text-align: center;
}
  
.error {
    color: red;
    font-style: italic;
}

.title {
    color:  #383838;
}

.title:active {
    color:  #9c0000;
}